.module.MMM-mycroft-bridge {
  pointer-events: none;
}
.module.MMM-mycroft-bridge .module-content {
  display: flex;
  position: absolute;
  inset: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
.module.MMM-mycroft-bridge .module-content > div {
  margin-top: 60%;
  text-align: center;
}
.module.MMM-mycroft-bridge .module-content .messages {
  list-style: none;
  padding: 0;
  height: 100px;
  mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
}
.module.MMM-mycroft-bridge .module-content .messages li:first-child {
  padding-bottom: 15px;
}